/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('/fonts/OpenSans-Semibold-webfont.eot');
  src: url('/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/OpenSans-Semibold-webfont.woff2') format('woff2'), url('/fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'playfair_displaybold_italic';
  src: url('/fonts/playfairdisplay-bolditalic-webfont.eot');
  src: url('/fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'), url('/fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'), url('/fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'), url('/fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('/fonts/lato-regular-webfont.eot');
  src: url('/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/lato-regular-webfont.woff2') format('woff2'), url('/fonts/lato-regular-webfont.woff') format('woff'), url('/fonts/lato-regular-webfont.ttf') format('truetype'), url('/fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
header {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 99;
}
header #logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 0;
}
header #logo h1 a {
  background: url("/images/logo.png") no-repeat center;
  background-size: contain;
  width: 120px;
  height: 100px;
  display: block;
}
header #logo h1 a .alt-text {
  text-indent: -9999px;
  display: inline-block;
}
header #main-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: bottom;
  margin-bottom: 20px;
  font-family: 'latoregular';
  font-weight: bold;
}
header #main-menu nav ul {
  list-style: none;
}
header #main-menu nav ul:not(.sub-menu) > li {
  float: left;
  position: relative;
}
header #main-menu nav ul:not(.sub-menu) > li > a {
  color: #ffffff;
  padding: 18px 55px 20px;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
header #main-menu nav ul:not(.sub-menu) > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ce323c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
header #main-menu nav ul:not(.sub-menu) > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
header #main-menu nav ul:not(.sub-menu) > li:hover ul.sub-menu {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
header #main-menu nav ul ul.sub-menu {
  position: absolute;
  left: 0;
  top: 45px;
  z-index: 1;
  visibility: visible;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}
header #main-menu nav ul ul.sub-menu > li {
  width: 100%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
header #main-menu nav ul ul.sub-menu > li:not(:first-child) {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(11%, #fff), color-stop(1%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, #fff 11%, rgba(255, 255, 255, 0) 1%);
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
header #main-menu nav ul ul.sub-menu > li > a {
  font-size: 13px;
  display: block;
  padding: 16px 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'open_sanssemibold';
}
header #main-menu nav ul ul.sub-menu > li:hover {
  background-color: rgba(190, 44, 44, 0.8);
}
header #user-login-signup {
  display: block;
  float: right;
}
header #user-login-signup a {
  display: block;
}
header #user-login-signup .signup-link {
  color: #00ff82;
  font-size: 17px;
  font-family: 'latoregular';
  font-style: italic;
  margin-top: 26px;
  margin-right: 10px;
}
header #user-login-signup .login-link {
  color: #ffffff;
  text-transform: uppercase;
  padding: 30px;
  text-align: right;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: bold;
}
header #user-login-signup .login-link:hover {
  text-decoration: underline;
}
body {
  background: url("/images/bg.jpg") center;
}
.container {
  max-width: 1900px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
section {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}
.button {
  display: block;
  width: 185px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'open_sanssemibold';
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 5px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.red-btn {
  background-color: #d0333d;
}
.green-btn {
  background-color: #00d46c;
}
.share-link {
  color: #ffffff;
  font-family: 'latoregular';
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  vertical-align: bottom;
  line-height: 3;
  font-size: 17px;
  margin: 30px 0 35px 24px;
  display: block;
}
.share-link:before {
  content: "";
  display: block;
  background: url("/images/share-white.png") no-repeat center;
  background-size: 70%;
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 6px 0 0;
}
h2 {
  font-family: 'playfair_displayblack_italic';
  color: #ffffff;
}
p {
  font-family: 'latobold';
  color: #ffffff;
}
h3,
h4 {
  font-family: 'latoregular';
  color: #ffffff;
}
.transparent-bg {
  background-color: rgba(38, 34, 35, 0.5);
}
#home h2 {
  font-family: 'playfair_displaybold_italic';
  font-size: 54px;
  letter-spacing: 1px;
}
#home #hero-banner .image-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 700px;
  overflow: hidden;
  z-index: 1;
}
#home #hero-banner .image-wrapper img {
  width: 100%;
  max-width: 100%;
  margin: auto;
}
#home #hero-banner .content {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  width: 90%;
}
#home #hero-banner .content h2 {
  text-shadow: 0px 1px 18px #000000;
}
#home #hero-banner .content p {
  font-size: 16px;
  text-align: left;
  width: 332px;
  text-shadow: 2px 2px 8px #000000;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 35px;
  margin-top: 10px;
}
#home #product-banner .container {
  padding: 50px;
}
#home #product-banner h2 {
  text-align: center;
  text-shadow: 0px 1px 25px #000000;
}
#home #product-banner h3 {
  text-align: center;
  text-shadow: 0px 1px 20px #000000;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 200;
}
#home #product-banner .image-wrapper {
  position: relative;
}
#home #product-banner .image-wrapper img {
  width: 100%;
  max-width: 100%;
  margin: auto;
}
#home #product-banner .image-wrapper .content {
  position: absolute;
  top: 60;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  width: 100%;
}
#home #product-banner .image-wrapper .content .product-detail {
  position: relative;
  z-index: 2;
  left: 10%;
  width: 40%;
  display: inline-block;
}
#home #product-banner .image-wrapper .content .product-detail .label-tag {
  font-style: italic;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 25px auto 12px;
  width: 80px;
  font-size: 12px;
  display: block;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
#home #product-banner .image-wrapper .content .product-detail .wrapper {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
#home #product-banner .image-wrapper .content .product-detail .wrapper .product-title {
  position: relative;
  font-size: 45px;
  line-height: 1.2;
  font-family: 'playfair_displaybold_italic';
  text-shadow: none;
  text-transform: capitalize;
}
#home #product-banner .image-wrapper .content .product-detail .wrapper .product-title:after {
  content: '';
  position: absolute;
  height: 3px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -20px;
  width: 60%;
  background: #00d46c;
}
#home #product-banner .image-wrapper .content .product-detail .wrapper .product-desc {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 72px 30px 40px;
  line-height: 1.2;
  font-family: 'latoregular';
}
#home #product-banner .image-wrapper .content .product-detail .wrapper .button {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 20px auto;
  text-align: center;
}
footer h4 {
  color: #262223;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
  text-transform: uppercase;
}
footer h4:before,
footer .no-margin-top:before {
  content: '';
  position: absolute;
  height: 3px;
  margin: 0 auto;
  left: 15px;
  top: 7px;
  width: 10%;
  background: #00d46c;
}
footer .footer-logo {
  max-width: 100%;
  width: 120px;
  margin-left: 30px;
}
footer .navigation {
  list-style: none;
  margin-top: 20px;
}
footer .navigation li a {
  font-family: 'latoregular';
  font-size: 20px;
  color: #262223;
  text-transform: uppercase;
}
footer .no-margin-top {
  margin-top: 20px;
}
footer .copyright {
  font-size: 18px;
  margin: 50px auto;
  display: block;
}
