header{
	display: block;
	width: 100%;
	position: fixed;

	.@{transparent-color} {
	 	background-color: rgba(38, 34, 35, .5);

		#logo {
			display: inline-flex;
			padding: 8px 24px;
			h1{
				a{
					background: url("@{images}/logo.png") no-repeat center;
					background-size: contain;
					width: 120px;
					height: 100px;
					display: block;
					.alt-text{
						text-indent: -9999px;
						display: inline-block;
					}
				}
			}

		}

		#main-menu{
			display: inline-flex;
			vertical-align: bottom;
			margin-bottom: 20px;
			nav{
				ul {
					li{
						list-style: none;
						float: left;
						a{
							padding: 18px 40px;
							color: #ffffff;
							font-size: 18px;
							text-decoration: none;
							text-transform: uppercase;
							font-family: 'latobold';
						}
						.sub-menu{
							display: none;
						}
					}
				}
			}
		}
	}
}