#home{

	h2{
		font-family: 'playfair_displaybold_italic';
		font-size: 54px;
    	letter-spacing: 1px;
	}

	#hero-banner{

		.image-wrapper{
			position: relative;
			top: 0px;
		    left: 0px;
		    width: 100%;
		    min-height: 700px;
			overflow: hidden;
			z-index: 1;
			img{
				width: 100%;
				max-width: 100%;
				margin: auto;
			}
		}

		.content {
		    position: absolute;
		    bottom: 20%;
		    left: 0;
		    right: 0;
		    margin: auto;
		    z-index: 2;
		    width: 90%;
			h2{
				text-shadow: 0px 1px 18px #000000;
				text-align: left;
			}
			p{
			    font-size: 16px;
			    text-align: left;
			    width: 332px;
			    text-shadow: 2px 2px 8px #000000;
			    text-transform: uppercase;
			    line-height: 1.2;
			    margin-bottom: 35px;
		        margin-top: 10px;
			}
		}

	}

	#product-banner{
		.container{
			padding: 50px;
		}

		h2{
			text-align: center;
			text-shadow: 0px 1px 25px #000000;
		}

		h3{
			text-align: center;
			text-shadow: 0px 1px 20px #000000;
		    font-size: 20px;
		    text-transform: uppercase;
		    font-weight: 200;
		}

		.image-wrapper{
			position: relative;

			img{
				width: 100%;
				max-width: 100%;
				margin: auto;
			}

			.content{
			   	position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
			    z-index: 2;
			    width: 100%;

			    .product-detail{
				    position: relative;
				    z-index: 2;
				    left: 10%;
				    width: 40%;
				    display: inline-block;


				    .label-tag{
				    	font-style: italic;
					    color: #ffffff;
					    border: 1px solid #ffffff;
					    border-radius: 4px;
					    padding: 5px 10px;
					    margin: 25px auto 12px;
					    width: 98px;
					    font-size: 12px;
					    display: block;
					    text-align: center;
				    	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
						-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
						box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
				    }

				    .wrapper{
				    	max-width: 400px;
				    	display: block;
				    	margin: 0 auto;

				    	.product-title{
					    	position: relative;
					    	font-size: 45px;
					    	line-height: 1.2;
					    	font-family: 'playfair_displaybold_italic';
					    	text-shadow: none;
					    	text-transform: capitalize;

					    	&:after{
					    		content: '';
					    		position: absolute;
					    		height: 3px;
					    		margin: 0 auto;
								left: 0;
								right: 0;
						        bottom: -20px;
    							width: 60%;
								background: @green;
					    	}
					    }

					    .product-desc{
				    	    text-align: center;
						    text-transform: uppercase;
						    font-size: 18px;
						    padding: 72px 30px 40px;
						    line-height: 1.2;
						    font-family: 'latoregular';
					    }

					    .button {
					    	margin: 20px auto;
					    	text-align: center;
					    }
				    }
				}
			}

			.like-this-container{
				background: url(/images/like-this-bg.png) no-repeat right bottom;
			    background-size: contain;
			    position: absolute;
			    bottom: 0;
			    right: 0;
			    height: auto;
			    font-family: 'latoregular';
			    font-size: 20px;
			    line-height: 1.1;
			    text-align: right;
			    padding: 55px 45px 0 50px;
				label{
				    font-weight: bold;
				    color: #423929;
				    display: block;
				    margin-top: 120px;
				    font-size: 20px;
				}
				.view-recipe-btn{
					text-decoration: underline;
					color: @font-white;
					font-style: italic;
					display: block;
			        margin-bottom: 85px;
				}
			}
		}
	}

	#recipes-banner{
		background: #ffffff url("@{images}/recipe-bg.jpg") no-repeat center top;
		background-size: cover;
	    display: inline-block;

		h2, h3{
			color: @font-black;
		}
		h2{
			padding-top: 50px;
		}
		h3{
	    	font-size: 18px;
		    text-transform: uppercase;
		    font-weight: 100;
			text-align: center;
			padding: 1% 24%;
		}

		.recipe-list{
			margin: 20px auto;
			padding-left: 70px;
			padding-right: 70px;

			.recipe-container{
				background-color: @font-white;
				border-radius: 4px;
				-webkit-box-shadow:0px 0px 18px 0px rgba(0, 0, 0, 0.3);
				-moz-box-shadow:0px 0px 18px 0px rgba(0, 0, 0, 0.3);
				box-shadow:0px 0px 18px 0px rgba(0, 0, 0, 0.3);

				.recipe-content{
					padding: 50px 64px 10px;
					.recipe-title{
						font-family: 'playfair_displaybold_italic';
						font-size: 21px;
						text-transform: none;
					    margin: 15px 0;
					    padding: 0;
					}
					.prep-container{
						font-size: 11px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-style: italic;
						div{
						    padding: 5px 10px;
							align-items: center;
							justify-content: center;
							-webkit-box-shadow: 1px 1px 1px 1px rgba(212,212,212,0.69);
							-moz-box-shadow: 1px 1px 1px 1px rgba(212,212,212,0.69);
							box-shadow: 1px 1px 1px 1px rgba(212,212,212,0.69);
							border-radius: 6px;
						}
					}
					.recipe-desc{
						color: @font-black;
						text-align: center;
						font-size: 14px;
						margin-bottom: 30px;
					}

				}

				.thumb-container{
					position: relative;	
					display: block;

					.recipe-thumb{
						max-width: 100%;
					}	

					.publisher-container{
						position: absolute;
						left: 0;
						right: 0;
						bottom: -45px;
						margin: auto;

						.publisher-img{
							max-width: 100%;
							width: 60px;
							height: auto;
							border-radius: 50%;
							margin: auto;
							display: block;
						}
						.publisher{
							font-size: 12px;
							text-align: center;
							font-family: 'latoregular';
							text-transform: uppercase;
							.name{
								font-weight: bold;
							}
						}
					}			
				}

				.red-btn{
					background-color: #d73b2f;
					display: block;
					margin: auto;
					-webkit-box-shadow:3px 3px 12px 0px rgba(0, 0, 0, 0.2);
					-moz-box-shadow:3px 3px 12px 0px rgba(0, 0, 0, 0.2);
					box-shadow:3px 3px 12px 0px rgba(0, 0, 0, 0.2);
				    font-size: 12px;
				}

				.recipe-action-btn{
				    padding: 18px;
				}
			}
		}
		.browse-all-recipe{
			font-family: 'open_sanssemibold';
			background-color: #00bc5d;
			width: 260px;
			margin: 55px auto 70px;
			padding: 10px 20px;
			font-size: 16px;
		}
	}
}

