#home{

	h2{
		font-family: 'playfair_displaybold_italic';
		font-size: 54px;
    	letter-spacing: 1px;
	}

	#hero-banner{

		.image-wrapper{
			position: relative;
			top: 0px;
		    left: 0px;
		    width: 100%;
		    min-height: 700px;
			overflow: hidden;
			z-index: 1;
			img{
				width: 100%;
				max-width: 100%;
				margin: auto;
			}
		}

		.content {
		    position: absolute;
		    bottom: 20%;
		    left: 0;
		    right: 0;
		    margin: auto;
		    z-index: 2;
		    width: 90%;
			h2{
				text-shadow: 0px 1px 18px #000000;
				text-align: left;
			}
			p{
			    font-size: 16px;
			    text-align: left;
			    width: 332px;
			    text-shadow: 2px 2px 8px #000000;
			    text-transform: uppercase;
			    line-height: 1.2;
			    margin-bottom: 35px;
		        margin-top: 10px;
			}
		}

	}

	#product-banner{
		.container{
			padding: 50px;
		}

		h2{
			text-align: center;
			text-shadow: 0px 1px 25px #000000;
		}

		h3{
			text-align: center;
			text-shadow: 0px 1px 20px #000000;
		    font-size: 20px;
		    text-transform: uppercase;
		    font-weight: 200;
		}

		.image-wrapper{
			position: relative;

			img{
				width: 100%;
				max-width: 100%;
				margin: auto;
			}

			.content{
			   	position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
			    z-index: 2;
			    width: 100%;

			    .product-detail{
				    position: relative;
				    z-index: 2;
				    left: 10%;
				    width: 40%;
				    display: inline-block;


				    .label-tag{
				    	font-style: italic;
					    color: #ffffff;
					    border: 1px solid #ffffff;
					    border-radius: 4px;
					    padding: 5px 10px;
					    margin: 25px auto 12px;
					    width: 98px;
					    font-size: 12px;
					    display: block;
					    text-align: center;
				    	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
						-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
						box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
				    }

				    .wrapper{
				    	max-width: 400px;
				    	display: block;
				    	margin: 0 auto;

				    	.product-title{
					    	position: relative;
					    	font-size: 45px;
					    	line-height: 1.2;
					    	font-family: 'playfair_displaybold_italic';
					    	text-shadow: none;
					    	text-transform: capitalize;

					    	&:after{
					    		content: '';
					    		position: absolute;
					    		height: 3px;
					    		margin: 0 auto;
								left: 0;
								right: 0;
						        bottom: -20px;
    							width: 60%;
								background: @green;
					    	}
					    }

					    .product-desc{
				    	    text-align: center;
						    text-transform: uppercase;
						    font-size: 18px;
						    padding: 72px 30px 40px;
						    line-height: 1.2;
						    font-family: 'latoregular';
					    }

					    .button {
					    	margin: 20px auto;
					    	text-align: center;
					    }
				    }
				}
			}
		}
	}

	#recipes-banner{
		background: #ffffff url("@{images}/recipe-bg.jpg") no-repeat center top;
		background-size: cover;

		h2, h3{
			color: @font-black;
		}
		h2{
			padding-top: 50px;
		}
		h3{
	    	font-size: 18px;
		    text-transform: uppercase;
		    font-weight: 100;
			text-align: center;
			padding: 1% 24%;
		}

		.recipe-list{
			margin: 20px auto;
			padding-left: 70px;
			padding-right: 70px;

			.recipe-container{
				background-color: @font-white;
				border-radius: 4px;
				-webkit-box-shadow:0px 0px 18px 0px rgba(0, 0, 0, 0.3);
				-moz-box-shadow:0px 0px 18px 0px rgba(0, 0, 0, 0.3);
				box-shadow:0px 0px 18px 0px rgba(0, 0, 0, 0.3);

				.recipe-content{

					margin-top: 40px;

					.recipe-title{
						font-family: 'playfair_displaybold_italic';
						font-size: 20px;
					}
				}

				.thumb-container{
					position: relative;	
					display: block;

					.recipe-thumb{
						max-width: 100%;
					}	

					.publisher-container{
						position: absolute;
						left: 0;
						right: 0;
						bottom: -60px;
						margin: auto;

						.publisher-img{
							max-width: 100%;
							width: 65px;
							height: auto;
							border-radius: 50%;
							margin: auto;
							display: block;
						}

						.publisher{
							text-align: center;
						}

					}			
				}

				.red-btn{
					background-color: #d73b2f;
					display: block;
					margin: auto;
				}
			}
		}

	}
}

